@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model MovieApp.Entity.UserModel

<h2>Login</h2>
<hr/>
<h2>Ankush</h2>
<form method="post">
    <div class="form-group">
        <label for="Firstname">Email</label>
        <input type="text" class="form-control" asp-for="Email" />
    </div>
    <div class="form-group">
        <label for="Firstname">Password</label>
        <input type="text" class="form-control" asp-for="Password" />
    </div>
    <input type="submit" class="btn btn-primary" value="Login" />
    <button type="button" class="btn btn-secondary">Reset</button>
    <hr />
    @if (ViewBag.status == "Ok")
     {
        <div class="alert alert-success">
            @ViewBag.message
        </div>
     }
    else if (ViewBag.status == "Error")
    {
        <div class="alert alert-danger">
            @ViewBag.message
        </div>
    }
    <hr />
    <a asp-controller="User" asp-action="Register">Register</a>
</form>